<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gee12.mytetroid"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
<!--        android:hardwareAccelerated="true"-->

        <!-- для dirchooser -->
        <!-- tools:replace="android:appComponentFactory" -->
        <!-- android:appComponentFactory="action_settings" -->
        <!-- tools:replace="android:theme" -->

<!--        For Android Q (10):-->
<!--        android:requestLegacyExternalStorage="true"-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/title_intent_send">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
            </intent-filter>

            <intent-filter android:label="@string/title_intent_send">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_records" />
        </activity>

<!--
        <activity-alias
            android:name=".activities.MainActivityAlias"
            android:targetActivity=".activities.MainActivity">

            <intent-filter android:label="@string/title_intent_send_attach">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter android:label="@string/title_intent_send_attach">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity-alias>
-->

        <provider
            android:name=".TetroidSuggestionProvider"
            android:authorities="${applicationId}.TetroidSuggestionProvider" />
<!--            android:authorities="com.gee12.TetroidSuggestionProvider" />-->

        <activity
            android:name=".activities.RecordActivity"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_text" />

        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_global_search"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.InfoActivity"
            android:label="@string/title_storage_info"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.LogsActivity"
            android:label="@string/title_log_file_content"
            android:parentActivityName=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gee12.mytetroid.activities.LogsActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_about_app"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>